.Login {
    font-family:var(--fontFamily);
 }

.l-container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.l-left {
    position: relative;
    z-index: 100;
    overflow: hidden;
    color: #ffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.background {
    position: absolute;
    height: 100%;
    z-index: -1;
    width: 100%;
    background: var(--primary);
    transform: skew(-4deg, 0deg) translate(-6%, 0%);
    transition: 0.5s ease-in-out;
}

.l-data {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    height: 100%;
 }

.l-logo {
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: flex-start;
     

    
}
.l-log img {
    height: 50px;
    width: 50px;
}
.base-logo {
    height: 100%;
    transform: translate(0,30%);
    padding: 5rem;
    position: relative;
    color: #fff;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    cursor: default;
}

.social-media  {
     position: relative;
    list-style: none;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    top:-1rem;

    
}
.social-media2  {
    display: none; 
}

.social-media li {
    position: relative;
    border-radius: 20px;
    object-fit: cover;
    font-size: 40px;
    cursor: pointer;
}

.l-right {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    justify-content: center;
    gap: 2rem;
}

.l-header {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 1rem;

}
.l-header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
}
.l-header h4{
    margin: 0;
    font-weight: 600;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:0 5rem 0 5rem;
    gap: 1.5rem;
}
 
.l-social {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
}
.l-google {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    color: #858585;
    gap: 1rem;
     padding: 0.5rem 0 0.5rem 0;
}
.login-form img {
    height: 20px;
    width: 20px;
}
.l-apple {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    padding: 0.5rem;
    color: #858585;
    gap: 1rem;
}
.l-email {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.l-email label {
    font-weight: 600;
}
.login-form  
     input {
    padding: 0.5rem;
    background: #F5F5F5;
    font-size: 18px;
    outline: none;
    border: none;
}
.submit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.submit  h4 {
    color: var(--primary);
    font-size: 15px;
    cursor: pointer;
}
.submit button{
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color:var(--primary);
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.l-createAcc {
    display: flex;
    justify-content: center;
    color: #858585;

   
}
.l-createAcc  span {
    color:var(--primary);
    cursor: pointer;
}
.l-pass {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
}
.l-pass input {
    padding: 0.5rem;
    background: #F5F5F5;
    font-size: 18px;
    outline: none;
    border: none;
}
.l-pass label {
    font-weight: 600;
}

@media screen and (max-width:1024px) and (orientation: portrait){
    .Login{
             width: 100vw;
    }
    .l-container{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .l-left{
        z-index: 100;
        width: 100%;
        height: 60px;
        position: relative;
        
        display: flex;
        flex-direction: column;
        
    }
    .background{
        transform: none;
    }
    .l-logo{
        position: relative;
        top: -0.5rem;
    }
    .l-logo img{
        height: 3rem;
        width: 60px;
    }
    .base-logo{
        position: absolute;
        top: -1rem;
        right: 1rem;
             padding: 0;
        font-size: 1.5rem;
    }
    .social-media{
        display:none;
    }
    .social-media2  {
             position: relative;
        list-style: none;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        top:-0.5rem;
        cursor: pointer;
        
    }
    .social-media2 li{
        position: relative;
        border-radius: 20px;
        object-fit: cover;
        font-size: 25px;
        cursor: pointer;
    }
    .social-media2 li:hover{
        color: var(--primary);
    }
    .l-right{
        padding: 0;
    }
    .login-form{
        padding: 1rem;
    }
} 