.Login {
    width: 100%;
}
.l-container {
    overflow: hidden;
    position: relative;
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid #000; */
}
.l-frame{
    position: relative;
    z-index: 100;
    overflow: hidden;
    color: var(--btnBackground);
    display: flex;
    flex-direction: column;
    padding: 5rem;
    flex-wrap: wrap;
}
.l-data{
    display: flex;
    flex-direction: column;
    padding: 0 5rem 0 5rem;
}
.l-content h1{
    width: 100%;
    font-size: 3rem;
}
.l-image img{
    position: absolute;
    width: 20vw;
    left: 0;
}
 
.l-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 40px;
    font-weight: 800;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:1rem 8rem 1rem 8rem;
    gap: 2rem;
    color: var(--primary);
    background-color: var(--background);
    border-radius: 15px;
}
.login-form input {
    width: 100%;
    background: #F5F5F5;
    font-size: 18px;
    border-radius: 15px;
    padding: 1rem 3rem 1rem 1rem;
}
.l-social {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
}

.l-google {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    color: #858585;
    gap: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}
.l-google img {
    height: 20px;
    width: 20px;
}
.l-apple {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    padding: 0.5rem;
    color: #858585;
    gap: 1rem;
}
.l-pass {
    position: relative;
    display: flex;
}
.l-visibility{
    position: absolute;
    right: 0.5rem;
    top: 0.6rem;
    font-size: 20px;
    cursor: pointer;
}
#eye{
    font-size: 35px; 
}


.submit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.submit h4 {
    color: var(--primary);
    font-size: 15px;
    cursor: pointer;
}

.submit #Signin {
    padding: 0.5rem;
    text-transform: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary);
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.l-createAcc {
    display: flex;
    justify-content: center;
    color: #858585;


}

.l-createAcc span {
    color: var(--primary);
    cursor: pointer;
}


@media screen and (max-width:1024px) and (orientation: portrait) {
    .Login {
        width: 100vw;
    }

    .l-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .l-left {
        z-index: 100;
        width: 100%;
        height: 60px;
        position: relative;

        display: flex;
        flex-direction: column;

    }

    .background {
        transform: none;
    }

    .l-logo {
        position: relative;
        top: -0.5rem;
    }

    .l-logo img {
        height: 3rem;
        width: 60px;
    }

    .base-logo {
        position: absolute;
        top: -1rem;
        right: 1rem;
        padding: 0;
        font-size: 1.5rem;
    }

    .social-media {
        display: none;
    }

    .social-media2 {
        position: relative;
        list-style: none;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        top: -0.5rem;
        cursor: pointer;

    }

    .social-media2 li {
        position: relative;
        border-radius: 20px;
        object-fit: cover;
        font-size: 25px;
        cursor: pointer;
    }

    .social-media2 li:hover {
        color: var(--primary);
    }

    .l-right {
        padding: 0;
    }

    .login-form {
        padding: 1rem;
    }
}