.dashboard-page{
    width: 100%; 
} 
.dashboard-page-nav{
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: row;
}
.dashboard-page-header{
    width: 100%;
    z-index: 100;
    /* border: 2px solid #000; */
}
.dashboard-navpage{
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
}