.dashboard-page{
    width: 100%; 
} 
.dashboard-page-nav{
    display: flex;
    flex-direction: row;
    height: 100%;
    position:sticky;
}
.dashboard-page-header{
    width: 100%;
    z-index: 100;
    /* position: fixed; */
}
