@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&family=Roboto:wght@100;300;400;900&display=swap');

:root{
  --primary:#605BFF;
  --text:#858585;
  --fontFamily:'poppins','roboto';
  --cards: hsla(220, 78%, 29%, 1)

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
   font-family: 'poppins','roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
