.o-inputdata {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.o-searchbar {
  margin: 20px 25px;
  display: flex;
  justify-content: space-between; 
}

.org-header {
  font-family: "Roboto";
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.org-label {
  line-height: 37.5px;
  font-size: 32px;
}
.org-para {
  font-size: 16px;
}

.org-count {
  padding: 2px 12px;
  background-color: #F3F3F3;
  font-size: 12px;
  border-radius: 50px;
  vertical-align: super;
}

