.header{
    width: 100%;
    height: fit-content;
 }
.h-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: var(--primary);
    color: #fff;
}
.h-logo{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: red;
    font-size: 1.5rem;
    
}
.h-menu{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.h-menu .mobile-icon[name='close']{
    display: none;
    justify-content: center;
    align-items: center;
}
.h-menu .mobile-icon[name='menu']{
    display: none;
    justify-content: center;
    align-items: center;
}
.h-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.h-image{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #000;
    overflow: hidden;
    background-color: red;
}

@media screen and (max-width:1024px) and (orientation:portrait) {
     .h-menu .mobile-icon[name='menu']{
        display: flex;
    }
    .h-menu .mobile-icon[name='close']{
        display: none;
    }
     .active .mobile-icon[name='close']{
        display: flex;
     }
     .active .mobile-icon[name='menu']{
        display: none;
     }
}