.navbar{
    height: 100%;
    display: flex;
}
.n-container{
    position: relative;
     height: 100%;
    overflow-y: scroll;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    color: #000;
    margin-top: 1rem;
 }
.n-container::-webkit-scrollbar{
     outline: none;
    border: none;
    width: 10px;
}
.n-container::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #7d7d7d;
    outline: none;
    border: none;
}
.n-data{
     display: flex;
    width: 100%;
}
.n-home{
    width: 100%;
    cursor: pointer;
    display: flex;
     text-decoration: none;
    flex-direction: column;
    color: #000;
    align-items: center;
    gap: 1rem;   
}
.n-home h4{
    padding: .5rem;
    color: #c0c0c0;
    transition: all .2s ease;
}
.n-home h4:hover{
    color: #7d7d7d;
}
.sub-data{
    padding: 1rem;
    transition: all 0.5s linear;
    width: 100%;
    color: #7d7d7d;
    gap: .5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    font-size: larger;
    border-radius: 30px;  
}
.sub-data:hover{
    background-color:var(--primary);
    color:#fff;
}
 
@media screen and (max-width:1024px) and (orientation:portrait) {
     .n-container{
        display: none;
    }
    
    .active .n-container{
        display: flex;
        position: fixed;
        background-color: #fff;
    }
}